@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply leading-[normal] m-0;
}

*,
::before,
::after {
    border-width: 0;
}

.cursorSize {
    font-size: 57px;
    /* Set the desired size here */
}

.cursorSizembl {
    font-size: 20px;
    /* Set the desired size here */
}

.cursorSizetbl {
    font-size: 35px;
    /* Set the desired size here */
}